<div class="navbar">
  <div class="left">
    <h3><a style="text-decoration:none ;" routerLink="/">Book Shop</a></h3>
  </div>

  <div>
    <div class="right">
      <p><a style="text-decoration:none" routerLink="/cart">Cart</a></p>

      <ng-container *ngIf="!getAuthenticated()">
        <p><a style="text-decoration:none" routerLink="/login">Login</a></p>
        <p><a style="text-decoration:none" routerLink="/register">Register</a></p>
      </ng-container>

      <ng-container *ngIf="getAuthenticated()">
        <p><a style="text-decoration:none" (click)="logOut()">Logout</a></p>
      </ng-container>

    </div>
  </div>
</div>
<router-outlet></router-outlet>


